@import url('../css/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* ---font family variables----- */
:root{
    --Poppins:'Poppins',cursive;
    --OpenSans:'OpenSans', cursive;
    --Livvic:'Livvic', cursive;
/* ----colors---- */

--text-gray:#57c2c2;
--text-light:#EFF7CF;
--bg-color:#0f0f0f;
--white:#FFFFFF;
--midnight:#274323;

/* ---gradients---- */
--sky: linear-gradient(to top, #30cfd0 0%, #330867 100%);
/* ---font family variables----- */
}




/*-----------global classes------------*/
a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;

}
/*-----------global classes------------*/


/*-----------navbar------------*/
.nav{
    background: white;
    padding: 2rem ;
    height: 0rem;
    min-height: 5vh;
    overflow: hidden;
    transition: height 0.8s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor:pointer;
    display:none  ;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height:30rem ;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding:1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Poppins);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}


.nav .nav-logo a{
    font-size: 1.6rem;
    padding-bottom: 1rem 0;
    display: block;
    font-family: var(--Livvic);
    font-size: 1.6rem;
}

.nav .social{
    padding:1.4rem 0;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color:var(--bg-color);
}
/*-----------navbar------------*/

/*-----------Main Content------------*/
/* -----site title----- */
main .site-title{
    background:url('../img/madara.jpg') ;
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
/* -----site title----- */


/*-----------Main Content------------*/



/* viewport less than or equal to 750px */

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
       
    }

    .nav .toggle-collapse{
        display:initial;
        
    }
    .nav .nav-items .nav-link {
        text-align: center;
    }
    

    
}

/* viewport less than or equal to 750px */
